<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kompilator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
   @RenderBody()

   <footer>
       <a href="/">Alla avsnitt</a><a href="/om">Om Kompilator</a> | <a href="/sponsor">Sponsor</a> | <a href="/about">In English</a>
   </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>