@page "/{EpisodeId}"
@model EpisodePage
@{
    ViewData["Title"] = @Model.Episode.Title + " | Podcasten Kompilator";
    ViewData["Url"] = "https://kompilator.se/" + Model.Episode.EpisodeSlug;

}

<h1>@Model.Episode.Title</h1>

<iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/@Model.Episode.Id?dark=false"></iframe>
@Html.Raw(Model.Episode.Description)
@Html.Raw(Model.Episode.LongDescription)