@page "/{EpisodeId}"
@model EpisodePage
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@Model.Episode.Title</h1>

<iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/@Model.Episode.Id?dark=false"></iframe>
@Html.Raw(Model.Episode.LongDescription)